<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/javascripts/wallet.js"></script>
  </head>
  <body>
    <h1><%= title %></h1><br>
    <div id="div1">
      <li>対象Walletを変更したい場合、ファイルを直接修正してください。（public/data/wallet.json）</li>
      <li>利用している関数（）の使い方は<a href="#" target="_blank">こちら</a>のページに記載しています。</li>
      <br>
    </div>
    <button type="submit" id="getInfo">データ取得</button>
    <div id="errMsg"></div>
    <div id="networkList"></div>
  </body>
</html>