<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/javascripts/network.js"></script>
</head>
<body>
    <h1><%= title %></h1><br>
    <button type="submit" id="button" >リスト更新</button><br><br>
    <div id="networkList">リスト取得中のため少しお待ちください。</div>
</body>
</html>