<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/javascripts/network.js"></script>
  </head>
  <body>
    <h1><%= title %></h1><br>
    <div id="div1">
      <li>5秒以内に応答がない場合はエラーとしています。</li>
      <li>検索対象を変更したい場合、下記ファイルを修正してください。</li>
      <script>
        $("#div1").get(0).insertAdjacentHTML("afterend", ">>> http://"+location.host+ "/data/search.json<br><br>");
      </script>
    </div>
    <button type="submit" id="button">データ取得</button><br><br>
    <div id="networkList"></div>
  </body>
</html>