<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
    <script src="/javascripts/network.js"></script>
  </head>
  <body>
    <h1><%= title %></h1><br>
    <div id="div1">
      <li>応答待ち時間を1-60（秒）の間で指定してください。</li>
      <li>処理実行後、Status列に"タイムアウト"が表示された場合、応答待ち時間を増やして再実行してください。</li>
      <li>処理実行後、Status列に"接続エラー"が表示された場合、URLに誤りがないか確認したうえで再実行してください。</li>
      <li>検索対象URLを変更したい場合、ファイルを直接修正してください。（public/data/networkList.json）</li>
      <li>利用している関数（getNodeInfo,getBlockNumber,getGasPrice,getCoinbase,getChainId）の使い方は<a href="https://web3js.readthedocs.io/en/v1.10.0/web3-eth.html" target="_blank">こちら</a>のページに記載しています。</li>
      <br>
    </div>
    <label for="timeout">応答待ち時間 (1-60)</label>&nbsp;
    <input type="number" id="timeout" name="timeout" max="60" min="1" value="5" required>
    <button type="submit" id="getInfo">データ取得</button>
    <div id="errMsg"></div>
    <div id="networkList"></div>
  </body>
</html>