<!DOCTYPE html>
<html>
  <head>
    <title>rpcCheck</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel='stylesheet' href="/stylesheets/style.css" />
  </head>
<body>
    <h1>TODO List</h1>
    aaaa<br>
    <div id="rpc-container">
        <!--　ここに出力 -->
    </div>
    <script>
        // id="todo-container"要素を取得する
        fetch('list')
            .then((response) => response.json())
            .then((rpcList) => {
                // id="rpc-container"要素を取得する
                const rpcContainer = document.querySelector('#rpc-container');
console.log(rpcList);
                let html;
                // JSONの各要素に対して
                for(let item in rpcList) {
                    console.log(item);
                    for(let subItem in rpcList[item]){
                        console.log(subItem);
                    }
                        let htmlParts = '<div>' + item + '</div>';

                    // 先述の変数の中に、出来上がったHTMLを格納
                    html += htmlParts;
                }
                // 変数に格納したHTMLを出力
                rpcContainer.innerHTML = html;
//                document.getElementById('rpc-container').innerHTML = html;
            })
    </script>
    bbb<br>
</body>
</html>