body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.network-tbl {
  border-collapse: collapse;
}

/* thの設定 */
.network-tbl th{
  background: #b7efb7;
  border: 1px solid #333;
  line-height: 25px;
  padding: 0px 15px;
}

/* trの設定 */
.network-tbl.tr {
  background: #b7efb7;
  border: 1px solid #333;
  line-height: 25px;
  padding: 0px 15px;
}

/* tdの設定 */
.network-tbl td{
  border: 1px solid #333;
  line-height: 25px;
  padding: 0px 15px;
}

/* 2行目を中央揃え */
.network-tbl th{
  text-align: center;
}

/* 引数の列を中央揃え */
.network-tbl td:nth-of-type(1) {
  text-align: center;
}
.network-tbl td:nth-of-type(2) {
  text-align: center;
}
.network-tbl td:nth-of-type(5) {
  text-align: center;
}
.network-tbl td:nth-of-type(6) {
  text-align: center;
}
.network-tbl td:nth-of-type(7) {
  text-align: center;
}
.network-tbl td:nth-of-type(8) {
  text-align: center;
}
.network-tbl td:nth-of-type(9) {
  text-align: center;
}

.normal {
  background-color: white;
}

.getError {
  background-color: #FFCCCC;
}

.connectError {
  background-color: #FF6666;
}

.redeem {
  background-color: #FF3333;
}

.redeemSoon {
  background-color: #FF9999;
}

#timeout {
  width: 5em;
  margin-right: 1em;
}

.error {
  color: red;
  font-weight: bold;
}





.srx-tbl {
  border-collapse: collapse;
}

/* thの設定 */
.srx-tbl th{
  background: #b7efb7;
  border: 1px solid #333;
  line-height: 25px;
  padding: 0px 15px;
}

/* trの設定 */
.srx-tbl.tr {
  background: #b7efb7;
  border: 1px solid #333;
  line-height: 25px;
  padding: 0px 15px;
}

/* tdの設定 */
.srx-tbl td{
  border: 1px solid #333;
  line-height: 25px;
  padding: 0px 15px;
}

/* ヘッダーを中央揃え */
.srx-tbl th{
  text-align: center;
}

/* 引数の列を中央揃え */
.srx-tbl td:nth-of-type(3) {
  text-align: center;
}
.srx-tbl td:nth-of-type(4) {
  text-align: center;
}
.srx-tbl td:nth-of-type(5) {
  text-align: center;
}
.srx-tbl td:nth-of-type(6) {
  text-align: center;
}
.srx-tbl td:nth-of-type(7) {
  text-align: center;
}
.srx-tbl td:nth-of-type(8) {
  text-align: center;
}

